body {
	background:#FDF5E6;
}
@font-face { /* Logo Font for Navbar */
    font-family: logoFont;
    src:url(../fonts/action-man/Action_Man_Shaded_Italic.ttf);
}
#logo { /* positioning of logo */
	font-family: logoFont;
	position:absolute;
	left:50px;
	top:-17px;
	color:#FFDA00;
	font-style:oblique;
	width:200px;
	display:block;
}
.margintop { /* random more white space */
	margin-top:50px;
}
a.footer-link { /* special link appearance for footer */
	text-decoration: none;
	color: inherit;
	text-shadow: 0px 0px 12px;
}
#footer { /* more extra margin */
	margin-top:200px;
}
#marginbottom { /* no margin after well */
	margin-bottom:0px;
}
.margintop1 { /* margin top for popover menu */
	margin-top:25px
}
.margintop2 { /* margin top and bottom for popover menu */
	margin-top:50px;
	margin-bottom:25px;
}
.p7mgm-ColContent a {
	text-decoration:none;
}